<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Início</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Fornecedores -->
                <li class="nav-item">
                    <a class="nav-link" href="C:\Users\mkpmachado\Documents\LKs-HealthCare\templates\paciente\paciente.html">Paciente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="C:\Users\mkpmachado\Documents\LKs-HealthCare\templates\consultas\consultas.html">Consultas</a>
                </li>
                <!-- Produtos -->
                <li class="nav-item">
                    <a class="nav-link" href="C:\Users\mkpmachado\Documents\LKs-HealthCare\templates\historico\historico.html">Histórico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="C:\Users\mkpmachado\Documents\LKs-HealthCare\templates\evolucao_clinica\evolucao_clinica.html">Evolução clínica</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="my-4"  >Consultas</h1>
        <form method="POST" class="form_">
            <div>
                <label for="nome">Nome do paciente</label>
            </div>
            <input type="text" class="form-control_" id="id_paciente" name="id_paciente" required>
            <div>
                <label for="sintomas">Sintomas</label>
            </div>
            <input type="text" class="form-control_" id="sintomas" name="sintomas" required>
            <div>
                <label for="diagnostico">Diagnóstico</label>
            </div>
            <input type="text" class="form-control_" id="diagnostico" name="diagnostico" required>
            <div>
                <label for="tratamento">Tratamento</label>
            </div>
            <input type="text" class="form-control_" id="tratamento" name="tratamento" required>
            <div>
                <label for="exames">Exames requisitados</label>
            </div>
            <input type="text" class="form-control_" id="exames" name="exames" required>
            <div>
                <label for="orientacoes">Orientações</label>
            </div>
            <input type="text" class="form-control_" id="orientacoes" name="orientacoes" required>
            <div>
                <button type="submit" class="btn btn-primary" style = "background-color: #2356ad; color: #fff; border: none; padding: 10px 20px; border-radius: 4px; cursor: pointer;">Salvar</button>
            </div>
        </form>
    </div>
    <link href="C:\Users\mkpmachado\Documents\LKs-HealthCare\styles.css" rel="stylesheet">
</body>
</html>